[Desktop Entry]
Name=Mklauncher For Linux
Exec=mklauncher-for-linux
Icon=mklauncher-for-linux
Type=Application
Terminal=false
Name[uk]=mklauncher for linux
